body{
    font-family: "Comfortaa", sans-serif;
    background-color: 	#C0C0C0;
}
h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
}
p{
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 24;
}
div{
    display: flex;
    justify-content: center;
}
img{
    margin: 40px;
    width: 300px;
    height: auto;
}
header a{
    color: black;
    margin: 20px;
    text-decoration: none;
}
#home{
    text-decoration: underline;
}
main a {
    color: black;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: right;
}
nav{
    text-align: center;
}